<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/32aa2b8683.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .width-53 {
            width: 53%;
        }

        .my-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light ">

        <div class="container-fluid width-53">
            <div class="">
                <a class="navbar-brand" href="/"><i class="fa-brands fa-github-square" style="font-size: 2em;"></i></a>
            </div>

            <div class="collapse navbar-collapse ms-5" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/jobs/info">채용정보</a>
                    </li>
                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/user/resume">이력서</a>
                    </li>

                    <li class="nav-item mx-3 fs-5">
                        <a class="nav-link text-dark" href="/user/interest">관심기업</a>
                    </li>

                </ul>
            </div>

            <div class="d-flex">
                <div class="d-flex">
                    <div class="me-5">
                        <div class="input-group me-4">
                            <div class="form-outline me-4">
                                <input id="search-header" type="search" name="title" class="form-control"
                                    placeholder="검색" style="display: none;"
                                    onkeypress="if(event.keyCode=='13'){event.preventDefault(); searchEvt();}" />
                            </div>
                            <div class="my-auto">
                                <i class="fa-solid fa-magnifying-glass btn btn-light" onclick="searchBox()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="my-auto ">
                        <a href="/user/myhome">
                            <i class="fa-regular fa-user"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- 여기까지 헤더 -->

    <div class="mx-auto width-53 mx-5 px-3 my-3">
        <div class="row py-3">
            <div class="col-md-4">
                <div class="card" ">
                    <div class=" card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" ">
                    <div class=" card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" ">
                    <div class=" card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    </div>
    </div>

    <!-- 가운데 -->
    <div class="row ">
        <div class="col-4  ">
            <button type="button" class="btn btn-success w-100">지역별</button>
        </div>
        <div class="col-4 ">
            <button type="button" class="btn btn-success w-100">기술별</button>
        </div>
        <div class="col-4  ">
            <button type="button" class="btn btn-success w-100">직무별</button>
        </div>
    </div>

    <!-- 공고들 -->
    <div class="row my-3 ">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- 여기부터 푸터 -->

    <div class="p-3 bg-light text-black rounded text-center" style="margin-bottom: 0">
        <div class="width-53 mx-auto">
            <div class="d-flex justify-content-around ">
                <div>
                    회사소개
                </div>
                <div>
                    이용약관
                </div>
                <div>
                    개인정보처리방침
                </div>
                <div>
                    고객센터
                </div>
            </div>
            <div class="width-53 d-flex mx-auto justify-content-between p-5">
                <div>
                    <i class="fa-solid fa-house" style="font-size: 4em;"></i>
                </div>
                <div>
                    <p>Created by MetaCoding</p>
                    <p>📞 010-2222-7777</p>
                    <p>🏴 부산 수영구 XX동</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function searchBox() {
            $('#search-header').css('display')
            const searchHeader = document.getElementById("search-header");
            if (searchHeader.style.display === "none") {
                searchHeader.style.display = "block";
                searchHeader.focus();
            }
        }
        function searchEvt() {
            const keyword = $('#search-header').val();
            console.log(keyword);
            location.href = "/search?keyword=" + keyword;
        }
    </script>
</body>

</html>